/* font-link for poppin */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=The+Nautigal&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.fa-check{
    color: grey;
}
.position{
    position: relative;
    top:-30px;
    /* box-shadow: 10px 10px 5px 12px gray ; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 26px;
}
.hot-position{
    border-radius: 30px;
    width: 50px;
    position: relative;
    top: -115px;
    left: 185px;
    padding-left: 10px;
}
.background-white{
    background-color: white;
}
.special-offer:hover{
    background: linear-gradient(to right, blue, pink);
}
